@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --hover-color: #b495f3;
    --background-color: #d2bbf7;

}
@media screen and (min-width: 968px){
    :root {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
    }
}
html {
    scroll-behavior: smooth;
}
body {
     margin: 4rem 0 0 0;
     font-family: 'Poppins', sans-serif;
     color: #5B5757;
     line-height: 1.5;
 }  

h1, h2, h3, h4 {
    font-weight: 600;
    color: black;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.section {
    padding: 4rem 0 2rem;
}
.section-title, .section-title-center {
    font-size: var(--h2-font-size);
    color: black;
    text-align: center;
    margin-bottom: 2rem;
}
.main {
    overflow: hidden;   
}
.container {
    max-width: 968px;
    margin-left: 2rem;
    margin-right: 2rem;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.grid-1 {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.header {
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--background-color);
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
}
.nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
@media screen and (max-width: 767px) {
    .nav_menu {
        height: 100%;
        position: fixed;
        top: 0%;
        right: -100%;
        width: 50%;
        padding: 4rem 1.5rem 0 2.5rem;
        background: var(--background-color);
        transition: 0.4s;
        box-shadow: 0 0 4px rgba(0,0,0,.1);
    }
}
.nav_close {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.nav_item {
    margin-bottom: 2rem;
}
.nav_close,  .nav_logo, .nav_button, .nav_link {
    color: white;
    font-weight: 600;
}

.nav_close:hover {
    color: var(--hover-color)    ;
}
.nav_button:hover {
    color: var(--hover-color);
}
.nav_logo:hover {
    color: var(--hover-color);
}

.nav_link:hover {
    color: var(--hover-color);
}
.nav_button {
    font-size: 1.5rem;
    cursor: pointer;
}
.show {
  right: 0;
}

.home {
    padding-top: 2rem;
}
.home_img {
    justify-self: center;
    margin-bottom: 1rem;
}
.home_container {
    row-gap: 0.5rem;
}
.home_title {
    font-size: var(--biggest-font-size);
    font-weight: 700;
    margin-bottom: 1rem;
}
.home_description {
    margin-bottom: 2rem;
}
.button {
    display: inline-block;
    background: var(--background-color);
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
}
.button:hover {
    background: var(--hover-color);
}
.lyrics_title {
    margin-bottom: 1rem;
}
.lyrics_description {
    text-align: center;
}
.fandom-year {
    font-size: 18px;
    font-weight: 700;
}
.fandom_data {
    text-align: center;
}
.fandom_description {
    margin-bottom: 1rem;
}
.fandom_img {
    text-align: center;
    margin-bottom: 2rem;
}
.mv {
    margin-top: -1rem;
    
}

.mv_data {
    text-align: center;
    padding: 1rem 1rem 1rem;
    background: var(--background-color);
    border-radius: 1rem;
}
.vid {
    position: relative; 
    padding-bottom: 56.25%; 
    overflow: hidden;
}
.vid iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

.follow {
    margin-top: 1rem;
    color: white;
}
.follow_data {
    padding: 3rem;
    background: var(--background-color);
    border-radius: 1rem;
    text-align: justify;
}
#follow_icon, #music_icon{
    font-size: 28px;
    padding-top: 10px;
}
#follow_icon_ytb {
    font-size: 24px;
    padding-top: 10px;
}
.follow_title {
    color: white;
}
.follow_link {
    color: white;
    font-weight: 600;
}
.follow_link:hover {
    color: var(--hover-color);
}
.footer {
    margin-top: 2rem;
    padding-top: 3rem;
    background-color: var(--background-color);
    color: white;
 
}
.footer h3, h4 {
    color: white;
}
.footer_container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.footer_content {
    line-height: 2rem;
    margin-left: 2rem;
} 
.footer_content a {
    color: white;
}
.footer_content a:hover {
    color: var(--hover-color);
}
#footer_icon {
    font-size: 25px;
    padding: 0.5rem 0.75rem 0 0;
}
.footer_copyright {
    padding: 2rem;
    text-align: center;
    color: white;
    font-weight: 600;
}
@media screen and (max-width: 359px){
    
    .home_img,
    .fandom_img{
      width: 100%;
    }   
    .nav_menu {
        width: 70%;
        padding-left: 2rem;
    }
    .mv_data {
        background: none;
        padding: 0;
    }
    .mv {
        margin: 0.5rem;
    }
    
    .follow {
        margin: 0;
        
    }
    .follow_data {
        padding: 3rem 1.5rem 3rem 1.5rem;
        border-radius: 0;
    }
    .footer_content {
        margin-left: 0rem;
    }
    .footer_container {
        margin-left: 1.25rem;
        margin-right: 0rem;
    }
  }
  @media screen and (min-width: 360px) and (max-width: 575px){
    
    .home {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .nav_menu {
        width: 60%;
    }
    .mv_data {
        background: none;
        padding: 0;
    }
    .mv {
        margin-left: 1rem;
        margin-right: 1rem ;
    }
    .footer {
        margin-top: 6rem;
    }
    .footer_content {
        margin-left: 0.5rem;
    }
  }
  @media screen and (min-width: 576px){
    main, .header {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .home_container{
      grid-template-columns: repeat(2,1fr);
      align-items: center;
    }
  
    .home_container{
      padding-top: 3rem;
      padding-bottom: 2rem;
    }
    .footer_container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .home_img{
      order: 1;
    }
  
    .home_description, .fandom_data{
      text-align: justify;
    }
    .home_container,
    .fandom_data {
      column-gap: 4rem; 
  }
    .footer {
        margin-top: 6rem;
    }
    
  }
  
  @media screen and (min-width: 768px){
    
    main {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .section{
      padding-top: 5rem;
    }
  
    .fandom_container {
        grid-template-columns: repeat(2,1fr);
        align-items: center;
      }
    
    .nav {
        height: 4.5rem;
        column-gap: 1rem;
      }
    .header {
        height: 5rem;
      }
    .nav_list{
      display: flex;
      align-items: center;
    }
    .nav_logo {
        font-size: var(--h2-font-size);
    }
    .nav_item{
      margin-left: 2.5rem;
      margin-bottom: 0;
    }
  
    .nav_button, .nav_close {
      display: none;
    }
    .home {
        padding-top: 3rem;
    }
 
    .mv_data {
        text-align: center;
        padding: 2rem;
        border-radius: 1rem;
       
    }
    .follow_data {
        padding: 3rem;
        margin-bottom: 1rem;
    }
     
}
  @media screen and (min-width: 992px){
    .footer_content {
        margin-left: auto;
        margin-right: auto;
        line-height: 2.25rem;
    }
    main {
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 1rem;
    }
    .nav_logo {
        font-size: var(--h3-font-size);
    }
    
    .nav {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .home {
        margin-left: 1rem;
        padding-bottom: 4rem;
    }
    .home_img,
    .fandom_img {
      width: 400px;
    }
    .home_img {
        margin-right: -5rem;
    }
    .home_container,
    .fandom_data {
      column-gap: 5rem; 
  }
  .follow_data {
    padding: 4rem;
} 
  .grid {
      gap: 1.5rem;
  }
 
    
}
@media screen and (min-width: 1200px) {
    .container, .nav{
        margin-left: auto;
        margin-right: auto;
      }
    .home {
        margin-top: 2rem;
    }
    
}
  